
body {
  margin: 0;
}

/* background */

.wizard-background .overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.wizard-background .image {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url("https://i.imgur.com/mgypCdf.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background-image 3s ease-in-out;
  z-index: -2;
}



/* branding */

.employee-questionnaire .company {
  margin: 1rem 0 4rem;
}
.employee-questionnaire .company h1 {
  font-size: 3rem;
  font-family: "Oxygen", Arial, sans-serif;
  font-weight: 700;
}
.employee-questionnaire .logo {
  width: 15%;
  max-width: 90px;
  float: left;
  margin-right: 1.0rem;
  /*margin-left:  4.0rem;*/ /*moves logo to center*/
}



/* main content */

.employee-questionnaire {
  color: #fff;
  font-family: "Noto Sans", Arial, sans-serif;
}

.employee-questionnaire .content-primary {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  padding: 30px;
}

.employee-questionnaire h2.how-it-works {
  font-size: 2rem;
  font-weight: 600;
  margin: 5rem 0 3rem;
}

.how-it-works-list {
  counter-reset: big-numbers-counter;
  margin-bottom: 6rem;
}

.how-it-works-list dt {
  position: relative;
  padding-left: 70px;
  min-height: 50px;
  margin-top: 15px;
  margin-bottom: 2rem;
  font-size: .8em;
}

.how-it-works-list dt:before {
  content: counter(big-numbers-counter);
  counter-increment: big-numbers-counter;
  position: absolute;
  font: 300 40px/1 "Open Sans", sans-serif;
  color: #000;
  font-size: 28px;
  line-height: 50px;
  left: 0px;
  top: -1rem;
  background-color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
}



/* button */

.questionnaire-get-started {
  text-align: center;
  margin-bottom: 4rem;
}
.questionnaire-get-started .btn {
  background-color: #9d0fa1;
  border: 1px solid white;
  border-radius: 6px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
.questionnaire-get-started .btn:hover {
  cursor: pointer;
}
.questionnaire-get-started .btn:active {
  background-color: #2C89A0;
}

/*  
  Based on bootstrap's media query breakpoints
  xs = Extra small <576px. Max container width None (auto)
  sm = Small ≥576px. Max container width 540px.
  md = Medium ≥768px. Max container width 720px.
  lg = Large ≥992px. Max container width 960px.
  xl = Extra large ≥1200px. Max container width 1140px.
*/

/* xx-small and x-small screens */

@media screen and (max-width: 300px) {
  .employee-questionnaire .company h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 575px) {
  .employee-questionnaire .logo {
    display:none;
  }
}

/* small screens */

@media screen and (min-width: 576px) {
  .employee-questionnaire .company h1 {
    font-size: 1.8rem;
    padding-top: 2.0rem;
    
  }
  .employee-questionnaire .content-primary {
    padding: 30px 50px 110px;
  }
  .employee-questionnaire .questionnaire-slide {
    margin-top: 5rem;
  }
  .employee-questionnaire .questionnaire-get-started {
    margin-bottom: 0;
    text-align: right;
  }
}

/* medium screens */

@media screen and (min-width: 768px) {
  .employee-questionnaire .content-primary {
    width: 70%;
    margin-left: 30px;
    min-height: 90vh;
  }
 .employee-questionnaire .company h1 {
    font-size: 2rem;
  }
}

/* large screens */

@media screen and (min-width: 992px) {
  .employee-questionnaire .content-primary {
    width: 60%;
    max-width: 840px;
  }
  .employee-questionnaire .company h1 {
    font-size: 2.0rem;
  }
}

/* x-large screens */

@media screen and (min-width: 1200px) {
 .employee-questionnaire .company h1 {
    font-size: 2.3rem;
  } 
}
