body {
  margin: 0;
}



/* background */

.wizard-background .overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.wizard-background .image {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url("https://i.imgur.com/mgypCdf.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background-image 3s ease-in-out;
  z-index: -2;
}



/* branding */

.employee-questionnaire .company {
  margin: .5em .5em 2em;
}
.employee-questionnaire .company h1 {
  font-size: 4rem;
  font-family: "Oxygen", Arial, sans-serif;
  font-weight: 700;
}
.employee-questionnaire .logo {
  border-radius: 25px;
  max-width: 90px;
  float: left;
  margin: 5px;
  padding-right: 5px;
}



/* main content */

.employee-questionnaire {
  color: #fff;
  font-family: "Noto Sans", Arial, sans-serif;
  /* z-index: 1; */
}
/* 
.employee-questionnaire .hidden {
  display: none;
} */

.employee-questionnaire .content-primary {
  background-color: rgba(0, 0, 0, 0.7);
  /* z-index: 1; */
  font-size: 2rem;
  padding: 30px;
}

.employee-questionnaire hr {
  border-top: 1px solid #666666;
  margin-top: 30px;
  margin-bottom: 30px;
}

.employee-questionnaire .how-it-works {
  font-size: 2rem;
  font-weight: 600;
  margin: 80px 0 20px;
}

.how-it-works-list {
  counter-reset: big-numbers-counter;
  margin-bottom: 50px;
}

.how-it-works-list dt {
  position: relative;
  display: inline-block;
  padding-left: 70px;
  min-height: 50px;
  margin-top: 15px;
  margin-bottom: 2rem;
  font-size: .8em;
}

.how-it-works-list dt:before {
  content: counter(big-numbers-counter);
  counter-increment: big-numbers-counter;
  position: absolute;
  font: 300 40px/1 "Open Sans", sans-serif;
  color: #000;
  font-size: 28px;
  line-height: 50px;
  left: 0px;
  top: -4px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
}



/* button */

.questionnaire-get-started {
  text-align: right;
  margin-bottom: 2rem;
}
.questionnaire-get-started .btn {
  background-color: #9d0fa1;
  border: 1px solid white;
  border-radius: 6px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
.questionnaire-get-started .btn:hover {
  cursor: pointer;
}
.questionnaire-get-started .btn:active {
  background-color: #2C89A0;
}



/*  Based on bootstrap's media query breakpoints
    xs = Extra small <576px. Max container width None (auto)
    sm = Small ≥576px. Max container width 540px.
    md = Medium ≥768px. Max container width 720px.
    lg = Large ≥992px. Max container width 960px.
    xl = Extra large ≥1200px. Max container width 1140px.
*/
@media screen and (max-width: 575px) {
  .employee-questionnaire .logo {
    visibility: hidden;
    display:none;
  }
}
@media screen and (min-width: 576px) {
  .employee-questionnaire .company {
    /* padding-left: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    margin: 0;
  }
  .employee-questionnaire .company span {
    /* align-items: center;
    justify-content: center;
    margin: 10px; */
    flex: 1;
  }
  .employee-questionnaire .company h1 {
    font-size: 2.3rem;
    flex: 5;
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; */
  }
  .employee-questionnaire .content-primary {
    padding: 30px 50px 110px;
  }
}
@media screen and (min-width: 768px) {
  .employee-questionnaire .content-primary {
    width: 70%;
    margin-left: 30px;
  }
  .employee-questionnaire .how-it-works-list {
    width: 60%;
  }
  .employee-questionnaire .questionnaire-get-started {
    margin-top: -140px;
  }
}
@media screen and (min-width: 992px) {
  .employee-questionnaire .content-primary {
    width: 60%;
  }
}
