body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 1rem;
    background-color: rgba(240,255,255, 0.6);
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    text-align: center;
    }

.row {
    display: flex;
    justify-content: center;

}

.logo {
    max-width: 90px;
    max-height: 90px;
   align-self: flex-end;
    margin-right: 1.0rem;
    
    
}

h1 {
    font-size: 2.8rem;
    padding-top: 1.5rem;
    font-family: "Oxygen", Arial, sans-serif;
    font-weight: 700;
    
}


legend {
    font-size: 2.0rem;
    font-weight: 700;
    color: rgba(157, 15, 161);
    text-align: center;
    
    
    
}

p {
    font-size: 1.4rem;
    color: black;
    text-align: center;
}

ul {
    margin: auto;
    align-items: center;
    list-style-type: disc;
}

li {
    font-size: 20px;
    margin-bottom: 0.3rem;
    padding: 5px 0;
}

label {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 0.3rem;
}
fieldset {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

input, textarea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.2rem 1.2rem;
    margin: 0 0px 10px 0px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #ccc;
    font-size: 1.05em;
    
}

textarea{
    width: 95%;
    resize: none;
}

textarea::placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05em;
    
}


.form-group {
    display: flex;
    flex-direction: column;
}


.button {
    text-align: center;
}

.btn {
    background-color: #9d0fa1;
    border: 1px solid white;
    border-radius: 6px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .btn:active {
    background-color: #2C89A0;
  }


footer{
    text-align: center;

    margin: 25px 0;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
    textarea {
        width: 93%;
    }
}

@media (max-width: 600px) {
    fieldset {
        margin: 2px;
    }
    textarea {
        width: 89%;
    }
    button {
        margin-top:1rem;
    }
}


@media (max-width: 400px) {
    textarea {
        width: 85%;
    }
}