body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    width: 80%;
    margin: -6em -40% 0;
    display: block;
    font-family: 'Open Sans';
    margin-top: 1rem;
    background-color: rgba(240,255,255, 0.6);
}

.logo {
    border-radius: 10px;
    width: 10%;
    max-width: 90px;
    float: left;
    margin-right: 1.0rem;
    margin-left: 15rem;
}

h1 {
    font-size: 2.5rem;
    padding-top: 1.5rem;
    font-family: "Oxygen", Arial, sans-serif;
    font-weight: 700;
    text-align: left;
}

#description {
    text-align: center;
    margin-right: 25rem;
}

legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(157, 15, 161);
    text-align: center;
    
}

p {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

ul {
    margin: auto;
    align-items: center;
    list-style-type: disc;
}

li {
    font-size: 20px;
    padding: 5px 0;
}

label {
    font-size: 1.5rem;
    color: black;
}
fieldset {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 3px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.checker {
    display: grid;
    grid-template-columns: 10% 5% 75%;
    align-items: top;
    white-space: nowrap;
}

.button {
    text-align: center;
    display: block;
    margin: 0 auto;
}

#submit {
    background: #B9DFFF;
    color: #000;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    margin: 5px auto;
    font-size: 20px;
}

#submit:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

#submit {

    -moz-box-shadow: inset 0 1px 0 0 #4d73bf;
    -webkit-box-shadow: inset 0 1px 0 0 #4d73bf;
    box-shadow: inset 0 1px 0 0 #4d73bf;

    background: #4267b2;
    border: solid 1px #4267b2;
    color: #fff;
    padding: 10px;
}

#submit:active {
    background: #1d4698;
    border-color: #1d4698;
}

footer{
    text-align: center;

    margin: 25px 0;
}

textarea{
    border-radius: 5px;
    width: 100%;
}

