/* Fonts */

/* Base Styles */
:root {
  --main-green: #2ca05a;
  --main-purple: #a02c89;
  --main-blue: #2c89a0;
  --light-gray: #f6f6f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray);
}

/* Cover Section */

/* How Can We Help Section*/

/* Let's Get Started Section */

.lets{
  max-width:50%;
  margin:20px auto;
  padding:0;
  
}



/* Meet the Team Section */
.team {
  float: left;
  column-count: 4;
  margin-left: 1.5rem;

}

.team__header {
  text-align: center;
  max-width: 25vw;
  margin-top: 2rem;
  margin-left: -1.75rem;
  border-radius: 50%;
  height: 50vh; 
  background-color: #fff;
}

.team__header-title {
  color: var(--main-purple);
  font-size: 3.25rem;
  font-weight: bolder;
  padding-top: 4rem;
}

.team__header-subtitle {
  font-weight: bolder;
}

.team__details {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.team__detail {
  display: flex;
  margin-top: -8rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
 
}

.team__details:nth-of-type(1n + 1) {
  color: var(--main-blue);
}

.team__details:nth-of-type(2n+ 2) {
  color: var(--main-green);
}

.team__details:nth-of-type(3n + 3) {
  color: var(--main-purple);
}

/*.team__detail:last-of-type {
  margin: auto;
}*/

/*.team__headshot {
  
}*/
.team__role {
  color: #000000;
}

.team__headshot > img {
  width: 125px;
  max-width: 100%;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.team__info {
  margin-left: 1.5rem;
  margin-right: 3.15rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Social Media Section */

/* Media Queries */