/* Fonts */

/* Base Styles */
:root {
  --main-green: #2ca05a;
  --main-purple: #a02c89;
  --main-blue: #2c89a0;
  --light-gray: #f6f6f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 16px sans-serif;
  background-color: var(--light-gray);
}
img {
  width: 100%;
  display: block;
}

/* body { */
/*
    background-color: var(--light-gray);
    causes discrepancy with How Can We Help mockup; 
    removed background on body to apply only to sections that need it
  */
/* } */

/* Cover Section */

/* How Can We Help Section*/
#services h1,
#services h2 {
  text-transform: uppercase;
}
#services h1 {
  font-size: 2rem;
  font-size: clamp(1.5rem, 5vw + 1rem, 4rem);
  color: var(--main-purple);
  text-align: center;
}
#services h2 {
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 1vw + 1rem, 2rem);
  color: var(--main-green);
  margin-bottom: 0.5rem;
}
#services {
  max-width: 1400px;
  margin: 4rem auto;
  background-color: #fff;
}
#services .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#services .service {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 400px;
  margin: 2rem 1rem;
  padding: 1rem;
  background-color: var(--light-gray);
}
#services .service .icon {
  flex: 1 1 auto;
  padding-right: 1rem;
}
#services .service .content {
  flex: 2 1 auto;
}

/* Let's Get Started Section */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.lets-get-started {
  align-self: center;
  margin-bottom: 80px;
}

.get_started_header {
  text-align: center;
  color: #a02c89;

  font-size: 3.25rem;
  font-weight: bolder;
  padding-top: 4rem;
}

.user-details {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-flow:column wrap;
  justify-content: center;
}

.user-details input {
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  width:80%;
  margin:5px auto;
}

.form-container {
  width: 60%;
  margin: 0 auto;
  height: 400px;
  border: 2px solid #9d0fa1;
  display: flex;
  flex-flow: row wrap;  
}

#questions-form {
  width: 90%;
  height: 400px;
  margin: 20px auto;
}

#questionnaire-wrapper{
  width:90%;
  margin:0 auto;
  margin-left:50px;
  max-height:500px;
  overflow: hidden;
}

.questions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
}

#detail-box {
  width: 90%;
  margin: auto;
  padding: 5px;
}

.questions h2 {
  margin: 10px auto;
  font-weight: 400;
}



.radio-flex-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;
}

.form-group {
  flex: 0 0 33.3333%;
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 0;
  font-size: 1.4vw;
}

.form-group label {
  text-transform: capitalize;
}

.more-information-textbox{
  margin:auto;
  width:100%;
  margin-top:50px;
  
}

#more-info-label{
  margin: 0 auto;
}

textarea{
  width:100%;
  height:7rem;
  border-radius: 20px;
  text-align: center;
  font-size: 1.1rem;
}

h4{
  text-align: center;
}


#prev-btn,
#next-btn {
  padding: 0;
  background: transparent;
  border: none;
  font-size: 4rem;
  margin: auto;
}

#prev-invisible-btn {
  padding: 0;
  background: transparent;
  border: none;
  font-size: 4rem;
  margin: auto;
}

#prev-btn:hover,
#next-btn:hover {
  cursor: pointer;
}

#prev-btn:focus,
#next-btn:focus {
  outline: none;
}

/* Meet the Team Section */
.team {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;

  max-width: 90%;
  margin: auto;*/
  max-width: 90%;
  margin: auto;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: space-between;
  gap: 2rem;
}

.team__header {
  padding: 4rem;
  border-radius: 50%;
  background-color: #fff;

  text-align: center;
  width: max-content;
  height: auto;
  margin-left: -2rem;
  margin-bottom: -5rem;
}

.team__header-title {
  color: var(--main-purple);
  font-size: 3rem;
}

.team__header-subtitle {
  margin-top: 1rem;
  font-weight: bolder;
}

.team__member {
  min-width: 300px;
  display: flex;
  align-items: center;
}

.team__member-profile {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* .team__member-profile, img {

.team__member-role {
  color: #000000;
} */

.team__member-profile img {

  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 50%;

  object-fit: cover;
}

.team__member:nth-of-type(2n + 1) .team__member-info {
  color: var(--main-blue);
}

.team__member:nth-of-type(2n + 2) .team__member-info {
  color: var(--main-green);
}

.team__member:nth-of-type(4n + 3) .team__member-info {
  color: var(--main-purple);
}

/* Social Media Section */
.social-media {
  background-color: #2d89a0;
  display: flex;
  font: 20px sans-serif;
  height: 650px;
  margin: 50px 0; 
  position: relative;
}

.social-media-container {
  max-height: 700px;
  margin: 70px auto;
  position: relative;
  width: 769px;
}

.social-media-title {
  background-color: #fff;
  color: #104285;
  position: absolute;
  top: 0;
}

.social-media-title h2 {
  font-size: 2.5rem;
  padding: 10px 30px;
  width: 350px; 
}

.contact-list {
  align-items: center;
  background-color: #a02d89;
  display: flex;
  height: 250px;
  justify-content: center;
  margin: 100px auto 0;
  width: 70%; 
}

.contact-list ul {
  list-style: none;
}

.contact-list ul li {
  margin: 35px 10px;
}

.contact-list ul li p {
  display: inline-block;
  word-wrap: break-word;
}

.contact-list ul li svg {
  color: white;
  height: 25px;
  margin-right: 20px;
  position: relative;
  top: 5px; 
}

.contact-list ul li img {
  height: 200px;
  position: relative;
  width: 200px;
}

.contact-list ul li a {
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 1.4px;
  text-decoration: none;
}

.social-media img {
  bottom: 0;
  max-width: 300px;
  position: absolute;
  right: 0;  
}

.bg-box {
  height: 40px;
  position: absolute;
  width: 40px;
}

.white-bottom {
  background-color: #fff;
  bottom: 20px;
  left: 10px;
}

.blue-bottom {
  background-color: #093c82;
  bottom: 20px;
  left: 50px;
}

.pink-top {
  background-color: #a02c89;
  left: 20px;
  top: -70px;
}

.green-top {
  background-color: #2ca05a;
  left: 350px;
}

.white-top {
  background-color: #ffffff;
  right: 0;
  top: 140px;
}

/* Media Queries */



@media only screen and (max-width: 319px) {

  /* Social Media */
  .social-media-container{
    width: 100%;
  }

  .social-media-title {
    width: 250px;
  }

  .social-media-title h2{
    font-size: 24px;
    width: 100%;
  }

  .contact-list {
    width: 95%;
  }

  .contact-list ul li {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 35px 20px;
    width: 80%;
  }

  .contact-list ul li p {
    width: 60%;
  }

  .social-media img {
    width: 200px;
  }

  .green-top {
    left: 250px;
  }
}
/*mobile devices*/
@media only screen and (min-width: 320px) and (max-width: 480px) {

  /* Social Media */
  .social-media-container{
    width: 100%;
  }

  .social-media-title {
    width: 250px;
  }

  .social-media-title h2{
    font-size: 30px;
    width: 100%;
  }
  .contact-list {
    width: 90%;
  }

  .contact-list ul li {
    font-size: 16px;
    margin: 35px 20px;
    width: 80%;

  }

  .social-media img {
    width: 200px;
  }

  .contact-list ul li p {
    width: 60%;
    word-wrap: normal;
  }

  .green-top {
    left: 250px;
  }
  

}
/*ipads, talets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
 .get_started_header {
  padding-top: 0;
}

  .form-container {
  width: 80%;
  margin: 0 auto;
  height: 600px;
  border: 2px solid #9d0fa1;
  display: flex;
  flex-flow: row wrap;
}
.form-group {
  flex: 0 0 49%;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 0;
  font-size:12px;
  font-weight: 600;
  text-align: center;
}

#questions-form {
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

#questionnaire-wrapper{
  margin:0 auto;
  max-height: 600px;
}

#first-question, #second-question{
  font-size: 1.5em;
  text-align: center;
  margin-top:20px;
}

.user-details{
  width:100%;
  margin-left:5px;
}
  /* Social Media */

  .social-media-container {
    width: 90%;
  }

  .social-media-title h2 {
    font-size: 2rem;
  }
  
  .contact-list {
    width: 90%;
  }

  .contact-list ul {
    margin-left: 40px;
  }
  
  .contact-list ul li p {
    width: 80%;
  }

  .social-media img {
    bottom: -30px;
  }

}
/*small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}
/*desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

}
/*extra screens, TV*/
@media only screen and (min-width: 1201px) {

}

