/* Fonts */

/* Base Styles */
:root {
  --main-green: #2ca05a;
  --main-purple: #a02c89;
  --main-blue: #2c89a0;
  --light-gray: #f6f6f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 16px sans-serif;
  background-color: var(--light-gray);
}
img {
  width: 100%;
  display: block;
}

/* body { */
/*
    background-color: var(--light-gray);
    causes discrepancy with How Can We Help mockup; 
    removed background on body to apply only to sections that need it
  */
/* } */

/* Cover Section */

/* How Can We Help Section*/
#services h1,
#services h2 {
  text-transform: uppercase;
}
#services h1 {
  font-size: 2rem;
  font-size: clamp(1.5rem, 5vw + 1rem, 4rem);
  color: var(--main-purple);
  text-align: center;
}
#services h2 {
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 1vw + 1rem, 2rem);
  color: var(--main-green);
  margin-bottom: 0.5rem;
}
#services {
  max-width: 1400px;
  margin: 4rem auto;
  background-color: #fff;
}
#services .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#services .service {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 400px;
  margin: 2rem 1rem;
  padding: 1rem;
  background-color: var(--light-gray);
}
#services .service .icon {
  flex: 1 1 auto;
  padding-right: 1rem;
}
#services .service .content {
  flex: 2 1 auto;
}

/* Let's Get Started Section */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.lets-get-started {
  align-self: center;
  margin-bottom: 80px;
}

.get_started_header {
  text-align: center;
  color: #a02c89;

  font-size: 3.25rem;
  font-weight: bolder;
  padding-top: 4rem;
}

.user-details {
  margin: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.user-details input {
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  height: 400px;
  border: 2px solid #9d0fa1;
  display: flex;
  flex-direction: row nowrap;
}

#questions-form {
  width: 80%;
  height: 400px;
  margin: 0 auto;
}

.questions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
}

#detail-box {
  width: 90%;
  margin: auto;
  padding: 5px;
}

.questions h2 {
  margin: auto;
  font-weight: 400;
}

.radio-flex-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;
}

.form-group {
  flex: 0 0 33.3333%;
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 0;
  font-size: 1rem;
}

.form-group label {
  text-transform: capitalize;
}

#prev-btn,
#next-btn {
  padding: 0;
  background: transparent;
  border: none;
  font-size: 4rem;
  margin: auto;
}

#prev-invisible-btn {
  padding: 0;
  background: transparent;
  border: none;
  font-size: 4rem;
  margin: auto;
  visibility: hidden;
}

#prev-btn:hover,
#next-btn:hover {
  cursor: pointer;
}

#prev-btn:focus,
#next-btn:focus {
  outline: none;
}

/* Meet the Team Section */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;

  max-width: 90%;
  margin: auto;
}

.team__header {
  padding: 4rem;
  border-radius: 50%;
  background-color: #fff;

  text-align: center;
  flex-grow: .1;
}

.team__header-title {
  color: var(--main-purple);
  font-size: 3rem;
}

.team__header-subtitle {
  margin-top: 1rem;
  font-weight: bolder;
}

.team__member {
  min-width: 300px;
  display: flex;
  align-items: center;
}

.team__member-profile {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.team__member-role {
  color: #000000;
}

.team__member-profile img {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%;

  object-fit: cover;
}

.team__member:nth-of-type(2n + 1) .team__member-info {
  color: var(--main-blue);
}

.team__member:nth-of-type(2n + 2) .team__member-info {
  color: var(--main-green);
}

.team__member:nth-of-type(4n + 3) .team__member-info {
  color: var(--main-purple);
}

/* Social Media Section */

@media only screen and (max-width: 280) and (min-width: 319) {
  
}

@media only screen and (min-width: 320) and (max-width: 480) {

}

@media only screen and (min-width: 481) and (max-width: 768) {

}

@media only screen and (min-width: 769) and (max-width: 1024) {

}

@media only screen and (min-width: 1025) and (max-width: 1200) {

}

@media only screen and (min-width: 1201) {

}



/* Media Queries */
